<h2>Hola mi nombre es <%= @cat %> y soy un gato</h2>
<img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2F4.bp.blogspot.com%2F-e1peFCOFvm8%2FTkcJJ9WgpNI%2FAAAAAAAAdrU%2F0WK3RyAKpW8%2Fs1600%2F7870gato4.jpg&f=1" alt="">
